extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5  
                img(src=`/img/destinos_${viaje.imagen}_ln.jpg`, alt="Información Viaje", class="img-fluid")
            .col-md-7
                h1 #{viaje.titulo}
                p
                    svg.icon.icon-tabler.icon-tabler-calendar-code(xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewbox='0 0 24 24' stroke-width='1.5' stroke='#fd0061' fill='none' stroke-linecap='round' stroke-linejoin='round')
                        path(stroke='none' d='M0 0h24v24H0z' fill='none')
                        path(d='M11.5 21h-5.5a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v6')
                        path(d='M16 3v4')
                        path(d='M8 3v4')
                        path(d='M4 11h16')
                        path(d='M20 21l2 -2l-2 -2')
                        path(d='M17 17l-2 2l2 2')

                    | #{viaje.fecha_ida} - #{viaje.fecha_vuelta}  
                p 
                    svg.icon.icon-tabler.icon-tabler-receipt-2(xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewbox='0 0 24 24' stroke-width='1.5' stroke='#fd0061' fill='none' stroke-linecap='round' stroke-linejoin='round')
                        path(stroke='none' d='M0 0h24v24H0z' fill='none')
                        path(d='M5 21v-16a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v16l-3 -2l-2 2l-2 -2l-2 2l-2 -2l-3 2')
                        path(d='M14 8h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5m2 0v1.5m0 -9v1.5')
                    | #{viaje.precio} Dolares
                p 
                    svg.icon.icon-tabler.icon-tabler-user-circle(xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewbox='0 0 24 24' stroke-width='1.5' stroke='#fd0061' fill='none' stroke-linecap='round' stroke-linejoin='round')
                        path(stroke='none' d='M0 0h24v24H0z' fill='none')
                        path(d='M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0')
                        path(d='M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0')
                        path(d='M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855')

                    | #{viaje.disponibles} Disponibles
                p= viaje.descripcion